body{
    background-color: rgb(78, 111, 157);
}

h1{
    padding-top: 3%;
    text-align: center;
    font-family: "Monoton", cursive;
    padding-bottom: 3%;
    font-size: 40px;
    color: white;
}

form{
    text-align: center;
    background-color: rgb(78, 111, 157);
}

.signUp{
    width:400px;
    background-color: rgb(78, 111, 157);
    color:white;
    font-size: 15;
}

button{
    background-color: rgb(147, 172, 206);
    color:white;
    width: 400px;
}