<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>

<body>
  <h1>Lista de Músicas</h1>
  <mat-card *ngFor="let musica of lista_musicas" class="cards">
    <mat-card-title>{{ musica.nome }}</mat-card-title>
    <mat-card-subtitle>{{ musica.cantor }}</mat-card-subtitle>
    <mat-card-content>
      <p><span class="bald">Álbum:</span> {{ musica.album }}</p>
      <p><span class="bald">Produtor:</span> {{ musica.produtor }}</p>
      <p><span class="bald">Gênero:</span> {{ musica.genero }}</p>
      <p><span class="bald">Ano de lançamento:</span> {{ musica.ano }}</p>
      <p><span class="bald">Disponível:</span> {{ musica.disponivel }}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-icon-button (click)="excluir(musica)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="editar(musica)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <button mat-raised-button (click)="irParaCriarMusica()" id="botao">
    Criar Musica
  </button>
</body>
