h1{
    padding-top: 3%;
    padding-left: 3%;
    text-align: left;
    font-family: 'Monoton', cursive;
    padding-bottom: 3%;
    font-size: 30px;  
    background-color: rgb(168, 29, 29);
}

.forminha{
    width: 20%;
    margin: 0.5%;
    margin-left: 2%;
}

button{
    left: 15%;
}