h1{
    padding-top: 3%;
    padding-left: 3%;
    text-align: left;
    font-family: 'Monoton', cursive;
    padding-bottom: 3%;
    font-size: 30px; 
    color: white;
    background-color: rgb(63, 97, 144);
}

form{
    text-align: center;
}

.forminha{
    width: 20%;
    margin: 0.2%;
    margin-left: 2%;
}

button{
    width: 20%;
    margin:0.2%;
    margin-left:2%;
    background-color: rgb(147, 172, 206);
    color: white;
}

button:hover{
    background-color: rgb(126, 161, 209);
}

.file-input label {
    display: block;
    position: relative;
    left:41%;
    width: 20%;
    height: 37px;
    border-radius: 5px;
    background:  rgb(147, 172, 206);
    box-shadow: 0 2px 3px rgba(37, 34, 34, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight:500;
    cursor: pointer;
    transition: transform .2s ease-out;
  }
  
  .file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
  .file-input:hover label{
    background-color: rgb(126, 161, 209);
  }