<router-outlet></router-outlet>

<!-- <h1>Lista de Músicas</h1>
<table class="tabela">
  <tr>
    <th>Index</th>
    <th>Nome</th>
    <th>Álbum</th>
    <th>Cantor</th>
    <th>Produtor</th>
    <th>Gênero</th>
    <th>Ano de lançamento</th>
    <th>Disponível em</th>
  </tr>

  <tr *ngFor="let musica of lista_musicas; let i = index">
    <td>{{i}}</td>
    <td>{{musica.getNome()}}</td>
    <td>{{musica.getAlbum()}}</td>
    <td>{{musica.getCantor()}}</td>
    <td>{{musica.getProdutor()}}</td>
    <td>{{musica.getGenero()}}</td>
    <td>{{musica.getAno()}}</td>
    <td>{{musica.getDisponivel()}}</td>
    <td>
      <button mat-icon-button (click)="excluir(i)" color="primary">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <button mat-icon-button (click)="editar(i)" color="primary">
        <mat-icon>create</mat-icon>
      </button>
    </td>
  </tr>
</table>
 
<hr>

<div *ngIf="!edicao; else editarProduto">
  <h1> Adicionar nova música</h1>
</div>

<ng-template #editarProduto>
  <h1>Editar música</h1>
</ng-template>

  <mat-form-field appearance="fill" class="forminha">
    <mat-label for="nome">Nome:</mat-label>
    <input matInput name="nome" type="text" [(ngModel)]="nome" placeholder="Nome da música">
  </mat-form-field>

  <br/>

  <mat-form-field appearence="fill" class="forminha">
    <mat-label for="album">Álbum</mat-label>
    <input matInput type="text" name="album" [(ngModel)]="album" placeholder="Nome do Álbum">
  </mat-form-field>

  <br/>

  <mat-form-field appearence="fill" class="forminha">
    <mat-label for="cantor">Cantor</mat-label>
    <input matInput type="text" name="cantor" [(ngModel)]="cantor" placeholder="Nome do Cantor">
  </mat-form-field>

  <br/>

  <mat-form-field appearence="fill" class="forminha">
    <mat-label>Produtor</mat-label>
    <input matInput name="produtor" type="text" [(ngModel)]="produtor" placeholder="Nome do Produtor">
  </mat-form-field>

  <br/>

<mat-form-field appearence="fill" class="forminha"> 
  <mat-label>Ano de lançamento</mat-label>
  <input type="number" matInput [(ngModel)]="ano" placeholder="Ano do lançamento">
</mat-form-field>

<br/>

<mat-form-field>
  <mat-label>Disponível em</mat-label>
<select matNativeControl [(ngModel)]="disponivel">
  <option>Youtube</option>
  <option>Spotify</option>
  <option>Deezer</option>
  </select>
</mat-form-field>

<br>

  <mat-form-field>
    <mat-label>Gênero</mat-label>
  <select matNativeControl [(ngModel)]="genero">
    <option>Jazz</option>
    <option>Rock</option>
    <option>Funk</option>
    <option>Pop</option>
    <option>Rap</option>
    <option>Sertanejo</option>
    <option>Outros</option>
  </select>
  </mat-form-field>

  <br/>
  
<button mat-raised-button (click)="salvar()">Salvar</button>
 -->