h1{
    padding-top: 3%;
    text-align: center;
    font-family: "Monoton", cursive;
    padding-bottom: 3%;
    font-size: 40px;
    color: white;
}
body{
    
    background-color: rgb(78, 111, 157);
}

form{
    text-align: center;
    background-color: rgb(78, 111, 157);
}

.login{
    width: 400px;
    background-color:  rgb(78, 111, 157);
    color:white;
    font-size: 15px;
   
}

.loginho{  
    background-color: rgb(147, 172, 206);
    color: white;
    width: 400px;
}

a{
    font-size: 16px;
    margin-top: 50%;
    padding-left: 49%;
    color: white;
    text-align: center;
}

a:hover{
    color:rgb(20, 48, 88)
}

#google{
    width: 400px;
    margin-top: 1%;
    left:36.6%;
    color:white;
    font-size: 16px;
}